body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-image: url("image6.jpg");
    margin-top: 5px;
  }
  
  
  .header {
    padding: 5px;
    font-size: 100px;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    color: rgb(15, 15, 15);
    margin-bottom: 5px;
    font-family: cursive;

  }
  .heading{
      background-image: url("image5.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100% ;
  }

  .leftcolumn {
    float: left;
    width: 68%;

  }
  
 
  .rightcolumn {
    float: right;
    width: 31%;
    padding-left: 10px;
  }
  .rightimage{
      width: 380px; 
      height: 170px;
      border-radius: 200px;
  }
  .text{
      width: 370px;
  }
  
  .fakeimg {
    width: 850px;
    height: 400px;
    
  }
  
 
  .card {
    background-color: rgb(216, 217, 218);
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    font-family: cursive;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .footer {
    padding: 10px;
    text-align: center;
    background: rgb(216, 217, 218);
    margin-top: 20px;
    border-radius: 10px;
  }
  .table{
      text-align: center;
      padding-left: 150px;
  }
  
 